<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Vinay Krishna P N/IdeaProjects/ATB7xAPIAutomationPrograms">
        <classes>
            <class name="API.Testing.TestNG.Test001">
                <methods>
                    <include name="test_get"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>